.contacts {
  border: none;
  font-family: @oswald;
  font-weight: 400;
  border-top: 2px solid @basic-color;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }
}

.contacts__title {
  font-family: @oswald;
  font-size: 24px;
  line-height: 23px;
  padding-left: 40px;
  padding-right: 40px;

  @media (min-width: @tablet-width) {
    position: relative;
    top: -20px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 36px;
    line-height: 36px;
    margin-right: calc((100vw - 1300px) / 2);
  }
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  color: @text-color;
  text-transform: uppercase;
  margin-top: 31px;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.contacts__item {
  display: flex;
  position: relative;
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 13px;
  padding-left: 7px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 29px;
  }
}

.contacts__label {
  position: static;
  align-self: center;
  width: max-content;
  white-space: nowrap;
}

.contacts__input {
  position: static;
  color: @text-color;
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid @form-border;
  text-transform: uppercase;
  margin-left: 8px;
  margin-right: 5px;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 17px;
  width: 100%;
}

.contacts__label--email::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 21px;
  width: 19px;
  height: 14px;
  background-image: url("../img/email-icon.svg");
  background-repeat: no-repeat;
}

.contacts__label--phone::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 19px;
  width: 20px;
  height: 21px;
  background-image: url("../img/phone-icon.svg");
  background-repeat: no-repeat;
}
