.example {
  background-color: @example-background;
  min-height: 705px;
  font-family: @oswald;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 1fr);
  }
}

.example__title {
  padding-top: 28px;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.example__desc {
  font-family: @arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-color;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 5px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    justify-content: left;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.example__item {
  position: relative;

  @media (min-width: @tablet-width) {
    padding-right: 42px;
  }
}

.example__item-numeral {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  border: 1px solid @example-frame;
  border-radius: 3px;
  margin-top: 13px;
  width: 123px;
  padding-top: 13px;
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item-value {
  position: absolute;
  font-family: @arial;
  font-size: 12px;
  line-height: 12px;
  width: 77px;
  text-align: center;
  background-color: @example-background;
  top: 48px;
  left: 23px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: @white;
  }
}

.example__text {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  margin-top: 34px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.example__slider-list {
  list-style: none;

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.example__slider-item {
  display: none;
  margin-top: 45px;
}

.example__slider-item--current {
  display: block;
}

.example__slider-switch {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
