.page-header__wrap {
  width: 280px;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 11px;
  margin-bottom: 10px;
}

.page-header__logo-cat {
  padding-top: 5px;
}

.page-header__logo-text {
  padding-top: 17px;
  padding-left: 56px;
}

.page-header__toggle {
  content: "";
  background-image: url("../img/logo-burger.svg");
  background-color: inherit;
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  border: none;
  margin-top: 15px;
  margin-left: 66px;
}

.page-header__toggle:active {
  content: "";
  background-image: url("../img/logo-close.svg");
  background-repeat: no-repeat;
  background-color: inherit;
  width: 18px;
  height: 18px;
  border: none;
  margin-top: 14px;
  margin-left: 68px;
}
