.social__list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  height: 63px;
  border-bottom: 1px solid @line;
  border-top: 1px solid @line;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 28px;
  padding-right: 77px;
  padding-left: 74px;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.social__item {
  align-self: center;
}
