.social__list {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  height: 63px;
  border-bottom: 1px solid @line;
  border-top: 1px solid @line;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 28px;
  padding-right: 77px;
  padding-left: 74px;
}

.social__item {
  align-self: center;
}
