.specification__title {
  margin-top: 27px;
}

.specification__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: @arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: @text-color;
  margin-left: 100px;
}

.specification__item {
  padding-top: 12px;
  padding-bottom: 15px;
  position: relative;
}

.specification__item--benefit::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -79px;
  width: 60px;
  height: 60px;
  background-image: url(../img/icon_leaf.svg);
  background-position-x: 14px;
  background-position-y: 14px;
  background-color: @basic-color;
  background-repeat: no-repeat;
}

.specification__item--convenience::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -79px;
  width: 60px;
  height: 60px;
  background-image: url(../img/icon_tub.svg);
  background-position-x: 14px;
  background-position-y: 13px;
  background-color: @basic-color;
  background-repeat: no-repeat;
}

.specification__item--food::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -79px;
  width: 60px;
  height: 60px;
  background-image: url(../img/icon_eat.svg);
  background-position-x: 17px;
  background-position-y: 15px;
  background-color: @basic-color;
  background-repeat: no-repeat;
}

.specification__item--result::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -79px;
  width: 60px;
  height: 60px;
  background-image: url(../img/icon_alarm.svg);
  background-position-x: 14px;
  background-position-y: 13px;
  background-color: @basic-color;
  background-repeat: no-repeat;
}