.wrapper {
  width: 100%;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: auto 0;
    padding: 0 30px;
    overflow: visible;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }
}
